.main {
  background-color: azure;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.orderGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px;
  gap: 15px;
  margin-top: 20px;
}

.orderGridItem {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  border: 1px solid black;
  gap: 20px;
  padding: 25px;
}

.orderList {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderItem {
  display: flex;
  justify-content: space-between;
}

.orderItemName {
  width: 80%;
}
